* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10rem;
  height: 5.5rem;
  text-align: center;
  align-items: center;
  position: fixed;
}

.nav1 {
  margin-top: -7px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.navbar img {
  margin-right: 1200px;
  border-radius: 10px;
}

.nav1:hover {
  background: orange;
  border-radius: 150px;
}
.nav-contact {
  background: #3f72af;
  border-radius: 20px;
  margin-top: -5px;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
.nav-contact:hover {
  background: #fba322;
  text-decoration: none;
}
body {
  background-image: url(Reuss.png);
}

.kanan {
  margin-left: 1050px;
  margin-top: -320px;
  font-family: "poppins";
  font-weight: 700;
  color: white;
  background-color: #1d1534;
}
.kiri {
  margin-top: -20px;
}
.form {
  margin-left: 10px;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Poppins";
  font-size: 16px;
  color: #1d1534;
  stroke: white;
  height: 30px;
  width: 150px;
}
.form1 {
  margin-left: 10px;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Poppins";
  stroke: white;
  font-size: 16px;
  color: #1d1534;
  height: 70px;
  width: 300px;
  vertical-align: "poppins";
}
.submit {
  margin-left: 10px;
  width: 80px;
  height: 30px;
  font-size: "poppins";
  font-weight: bold;
  font-size: 13px;
  border-radius: 5px;

  color: #1d1534;
  background-color: white;
}
.submit:hover {
  background: #1d1534;
  color: white;
  text-decoration: none;
}
.container-footer {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}

.kiri-footer {
  display: flex;
  width: 30%;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
}

.kanan-footer {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 4rem;
}

#copyright {
  margin-top: 18rem;
  color: white;
}

.medsos-container {
  display: flex;
  align-items: center;
}

.medsos-container > p {
  padding-left: 1rem;
}

.medsos-container > img {
  height: 3rem;
  width: 3rem;
}
