@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10rem;
  height: 5.5rem;
  text-align: center;
  align-items: center;
  margin-top: -100px;
  position: fixed;
}

.navbar a {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 5px;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.navbar img {
  margin-right: 1310px;
  border-radius: 10px;
}

.navbar a:hover {
  background: orange;
  border-radius: 30px;
}
.nav-contact {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 25px;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
.nav-contact:hover {
  background: #fba322;
  text-decoration: none;
}
body {
  background-image: url("Mataura.png");
}
main {
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
}

.profile {
  width: 650px;
  height: 500px;
  background-color: #fafafa;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 10px;
  border: 1px solid#eeeeee;
  margin-top: 7rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.profile h1 {
  padding-top: 1rem;
}

.profile-img {
  width: 11rem;
  height: 11rem;
  border-radius: 6rem;
}

.profile-desc {
  padding-top: 1rem;
  text-align: center;
  width: 70%;
}

.medsos {
  width: 33px;
  height: 33px;
}

.daerah-section {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

.daerah-section h1 {
  font-size: 42px;
}

.photo-grid {
  cursor: pointer;
  padding-top: 2.6rem;
  width: 80%;
  margin: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.card-tall a {
  padding: 14rem 3.4rem;
}

.card-wide a {
  padding: 6rem 10rem;
}

.card-biasa a {
  padding: 5.8rem 1.4rem;
}

.photo-grid a {
  color: white;
}

.container-footer {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}

.kiri-footer {
  display: flex;
  width: 30%;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
}

.kanan-footer {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 4rem;
}

#copyright {
  margin-top: 18rem;
  color: white;
}

.medsos-container {
  display: flex;
  align-items: center;
}

.medsos-container > p {
  padding-left: 1rem;
}

.medsos-container > img {
  height: 3rem;
  width: 3rem;
}

/* Medium screens */

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }
  .card-wide {
    grid-column: span 2 / auto;
  }
}
